<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>AddressBook</title>
    </head>
    <body>

        <h2>Add new contact</h2>

        <form action="#" th:action="@{/book}" method="POST">
            <p><label for="name">Name</label>: <input type="text" name="name" id="name"/></p>
            <p><label for="address">Address</label>: <input type="text" name="address" id="address"/></p>
            <p><input type="submit" value="Add" /></p>
        </form>

        <h2>Search contact</h2>
        <p>Enter your contacts name or part of it. If you want to get access to all your contacts just write your username.</p>
        <form action="#" th:action="@{/search}" method="GET">
            <p><label for="name">Name or username</label>: <input type="text" name="name" id="name"/></p>
            <p><input type="submit" value="Search" /></p>
        </form>
        
        <form action="#" th:action="@{/logout}" method="post">
            <input type="submit" value="Sign Out"/>
        </form>
        <p></p>
    </body>
</html>
