<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Search Results</title>
    </head>
    <body>
        <h2>Search results:</h2>
        <p th:each= "contact : ${searchRes}">
            <span th:text ="${contact.name}"></span>:
            <span th:text ="${contact.address}"></span>
        </p>
        
        <form action="#" th:action="@{/book}" method="GET">
            <input type="submit" value="Back"/>
        </form>
    </body>
</html>
